# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# Eclipse
#.project
#.classpath
*.pydevproject
.metadata
local.properties
.settings/
.loadpath
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

# CDT-specific
.cproject

.svn
